* {
  background-color: #abfbfd;
}

h1 {
  font-family: Lucida calligraphy;
  font-size: 48px;
  color: #2013cc;
  text-align: center;
}

h5 {
  font-family: Helvetica;
  font-size: 18px;
  color: #2013cc;
}

.tagline {
  text-align: center;
}

div h2 {
  font-family: Lucida calligraphy, cursive;
  font-size: 24px;
  color: #2013cc;
}

div h5 {
  font-family: Helvetica;
  font-size: 18px;
  color: #7929cc;
}

p {
  font-family: Helvetica;
  font-size: 16px;
  color: #2013cc;
}

a {
  text-decoration: underline;
  color: #7929cc;
}

a:hover {
  color: #2013cc;
  text-decoration: none;
}

.copyright {
  font-size: 14px;
  color: #7929cc;
}

nav {
    display: inline-block;
    padding: 10px;
    margin: 25px;
    border: 2px solid #2013cc;
    background-color: #efb1ff;
}

a {
  text-decoration: underline;
  color: #7929cc;
}

nav a {
  text-decoration: none;
  font-size: 18px;
  font-family: Helvetica;
  color: #2013cc;
  display: inline-block;
  height: 25px;
  width: 200px;
  background-color: #efb1ff;
}

a:hover {
  color: #2013cc;
  text-decoration: none;
}

nav a:hover {
   color: #7929cc;
   text-decoration: none;
}


